root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{py,yml}]
indent_style = space

[*.py]
indent_size = 4
max_line_length = 79

[*.yml]
indent_size = 2
