PyYAML==5.3.1
astroid==2.5
chardet==3.0.4
grpcio==1.33.2
grpcio-tools==1.33.2
grpcio-health-checking==1.33.2
numpy==1.20.3
opencv-python-headless==4.4.0.46
protobuf==3.14.0
pylint==2.6.0
pymongo==3.11.1
requests==2.25.0
requests-toolbelt==0.9.1
typing-extensions==3.7.4.3
pytest==5.3.5
networkx==2.1
natsort==7.1.1
coloredlogs==14.0

nvidia-ml-py3==7.352.*
psutil==5.7.*
jsonobject==0.9.9

testfixtures==6.17.1
pre-commit==2.7.1
