numpy==1.19.5

PyYAML==5.4.1
grpcio==1.33.2
protobuf==3.14.0
typing-extensions==3.7.4.3
pytest==5.3.5
pymongo==3.11.1
python-dateutil==2.8.1

requests==2.25.1

scipy==1.5.4
scikit-image==0.17.2

# the next part won't be required in the future
decorator==4.4.*
networkx==2.5.1
coloredlogs==14.0
chardet<4,>=3.0.2
