include requirements/*.txt
include mmdet/VERSION
include mmdet/model_zoo.yml
include mmdet/configs/*/*.py
include mmdet/configs/*/*.yml
include mmdet/tools/*.py
include mmdet/tools/*.sh
include mmdet/tools/*/*.py
include mmdet/demo/*/*
